In [41]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [0]:
import pandas as pd
import numpy as np

In [45]:
blue = pd.read_csv('blue.csv')
green = pd.read_csv('green.csv')
yellow = pd.read_csv('yellow.csv')
red = pd.read_csv('red.csv')
white = pd.read_csv('white.csv')
orange = pd.read_csv('orange.csv')
rubbish = pd.read_csv('rubbish.csv')

# посмотим на данные и увидим, насколько они "грязные"
blue.head()

,RGB,area,cont
0,"[241.1314378774513, 203.47852344439167, 63.040...",15658.0,[[150 44 149 45 145 45 144 46 141 46 140 ...
1,"[254.60717009916092, 250.13857106534451, 66.78...",8544.0,[[160 62 159 63 152 63 151 64 147 64 146 ...
2,"[254.35055663117134, 253.98184898354307, 87.08...",8953.0,[[147 70 146 71 144 71 143 72 141 72 140 ...
3,"[254.26767063395678, 254.75564731600682, 150.6...",8932.5,[[151 65 150 66 142 66 141 67 140 67 139 ...
4,"[254.81339352896913, 254.93679458239274, 217.9...",8652.0,[[145 74 144 75 140 75 139 76 137 76 136 ...

In [46]:
# соедими наши данные вместе в один большой DataFrame
df = pd.concat([blue, green, yellow, red, white, orange, rubbish], axis=0)

# посмотрим на "фигуру" нашего датасета
df.shape

(91, 3)

In [0]:
# определим функцию, которая будет строку с RGB превращать в питоновский список список 
def getSepRGB(s):
  return s.strip('[]').replace(' ', '').split(',')

In [49]:
# применим нашу новую функцию к столбцу RGB несколько раз
# и разделим компоненты по столбцам: R G B
df['R'] = df['RGB'].apply(lambda x: int(float(getSepRGB(x)[0])))
df['G'] = df['RGB'].apply(lambda x: int(float(getSepRGB(x)[1])))
df['B'] = df['RGB'].apply(lambda x: int(float(getSepRGB(x)[2])))

# удаляем столбец с RGB (больше он не нужен)
df.drop('RGB', axis=1, inplace=True)

# посмотрим что получилось
df.head(1)

      area                                               cont    R    G   B
0  15658.0  [[150  44 149  45 145  45 144  46 141  46 140 ...  241  203  63

In [50]:
# теперь чуть-чуть преобразим cont, убрав с боков квадратные скобки
# и еще вишенкой на торте будет преобразование area к типу int

df['cont'] = df['cont'].apply(lambda x: x.strip('[]'))
df['area'] = df['area'].apply(int)

# посмотрим что получилось
df.head(1)

    area                                               cont    R    G   B
0  15658  150  44 149  45 145  45 144  46 141  46 140  4...  241  203  63

In [0]:
# напишем функцию, которая будет строку cont превращать в координаты
# и с помощью np.array.reshape() приведем координаты к виду
#  [ [242,123], 
#     [125,31] , 
#     [147,54] , 
#     ...        ]
def getCoordAsArray(s):
  return np.array(s.replace('\n', '').replace('  ', ' ').replace('  ', ' ').split(' ')).reshape(-1, 2)

In [79]:
# проверим ее работу
# также по значениям проверим, похоже ли на правду
getCoordAsArray(df['cont'].iloc[0])

array([['150', '44'],
       ['149', '45'],
       ['145', '45'],
       ['144', '46'],
       ['141', '46'],
       ['140', '47'],
       ['138', '47'],
       ['137', '48'],
       ['135', '48'],
       ['134', '49'],
       ['132', '49'],
       ['131', '50'],
       ['130', '50'],
       ['129', '51'],
       ['128', '51'],
       ['127', '52'],
       ['126', '52'],
       ['125', '53'],
       ['124', '53'],
       ['122', '55'],
       ['121', '55'],
       ['119', '57'],
       ['118', '57'],
       ['113', '62'],
       ['112', '62'],
       ['107', '67'],
       ['107', '68'],
       ['103', '72'],
       ['103', '73'],
       ['101', '75'],
       ['101', '76'],
       ['99', '78'],
       ['99', '79'],
       ['98', '80'],
       ['98', '81'],
       ['97', '82'],
       ['97', '83'],
       ['96', '84'],
       ['96', '85'],
       ['95', '86'],
       ['95', '87'],
       ['94', '88'],
       ['94', '90'],
       ['93', '91'],
       ['93', '93'],
       ['92', '94'],
       ['92', '97'],
       ['91', '98'],
       ['91', '101'],
       ['90', '102'],
       ['90', '108'],
       ['89', '109'],
       ['89', '120'],
       ['90', '121'],
       ['90', '127'],
       ['91', '128'],
       ['91', '132'],
       ['92', '133'],
       ['92', '135'],
       ['93', '136'],
       ['93', '138'],
       ['94', '139'],
       ['94', '141'],
       ['95', '142'],
       ['95', '143'],
       ['96', '144'],
       ['96', '145'],
       ['97', '146'],
       ['97', '147'],
       ['98', '148'],
       ['98', '149'],
       ['100', '151'],
       ['100', '152'],
       ['102', '154'],
       ['102', '155'],
       ['104', '157'],
       ['104', '158'],
       ['115', '169'],
       ['116', '169'],
       ['119', '172'],
       ['120', '172'],
       ['122', '174'],
       ['123', '174'],
       ['124', '175'],
       ['125', '175'],
       ['127', '177'],
       ['129', '177'],
       ['131', '179'],
       ['133', '179'],
       ['134', '180'],
       ['136', '180'],
       ['137', '181'],
       ['139', '181'],
       ['140', '182'],
       ['143', '182'],
       ['144', '183'],
       ['148', '183'],
       ['149', '184'],
       ['159', '184'],
       ['160', '185'],
       ['161', '185'],
       ['162', '184'],
       ['171', '184'],
       ['172', '183'],
       ['176', '183'],
       ['177', '182'],
       ['180', '182'],
       ['181', '181'],
       ['183', '181'],
       ['184', '180'],
       ['186', '180'],
       ['187', '179'],
       ['188', '179'],
       ['189', '178'],
       ['190', '178'],
       ['191', '177'],
       ['192', '177'],
       ['193', '176'],
       ['194', '176'],
       ['195', '175'],
       ['196', '175'],
       ['197', '174'],
       ['198', '174'],
       ['200', '172'],
       ['201', '172'],
       ['205', '168'],
       ['206', '168'],
       ['215', '159'],
       ['215', '158'],
       ['218', '155'],
       ['218', '154'],
       ['220', '152'],
       ['220', '151'],
       ['222', '149'],
       ['222', '148'],
       ['223', '147'],
       ['223', '146'],
       ['224', '145'],
       ['224', '144'],
       ['225', '143'],
       ['225', '141'],
       ['226', '140'],
       ['226', '139'],
       ['227', '138'],
       ['227', '136'],
       ['228', '135'],
       ['228', '132'],
       ['229', '131'],
       ['229', '128'],
       ['230', '127'],
       ['230', '120'],
       ['231', '119'],
       ['231', '110'],
       ['230', '109'],
       ['230', '102'],
       ['229', '101'],
       ['229', '97'],
       ['228', '96'],
       ['228', '94'],
       ['227', '93'],
       ['227', '91'],
       ['226', '90'],
       ['226', '88'],
       ['225', '87'],
       ['225', '86'],
       ['224', '85'],
       ['224', '83'],
       ['222', '81'],
       ['222', '80'],
       ['221', '79'],
       ['221', '78'],
       ['219', '76'],
       ['219', '75'],
       ['217', '73'],
       ['217', '72'],
       ['214', '69'],
       ['214', '68'],
       ['207', '61'],
       ['206', '61'],
       ['202', '57'],
       ['201', '57'],
       ['199', '55'],
       ['198', '55'],
       ['197', '54'],
       ['196', '54'],
       ['194', '52'],
       ['193', '52'],
       ['192', '51'],
       ['191', '51'],
       ['190', '50'],
       ['189', '50'],
       ['188', '49'],
       ['186', '49'],
       ['185', '48'],
       ['184', '48'],
       ['183', '47'],
       ['181', '47'],
       ['180', '46'],
       ['177', '46'],
       ['176', '45'],
       ['171', '45'],
       ['170', '44']], dtype='<U3')